<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plantilla/materialdesignicons.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plantilla/vendor.bundle.base.css')}}">
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plantilla/jquery-jvectormap.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plantilla/flag-icon.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plantilla/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plantilla/owl.theme.default.min.css')}}">
    <!-- Layout styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plantilla/style.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png')}}"/>
    <!-- Google fonts icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
          <div class="row w-100 m-0">
            <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                <div class="card col-lg-4 mx-auto" style="border: solid 1px #2f89fc;">
                <div class="card-body px-5 py-5">
                    <h3 class="card-title text-left mb-3">Inicio de sesión</h3>
                    <form>
                    <div class="form-group">
                        <label>Usuario o email *</label>
                        <input type="text" class="form-control p_input">
                    </div>
                    <div class="form-group">
                        <label>Clave *</label>
                        <input type="text" class="form-control p_input">
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-between">
                        <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"> Recordarme </label>
                        </div>
                        <a href="#" class="forgot-pass">Olvide mi contraseña</a>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-block enter-btn">Acceder</button>
                    </div>
                    <p class="sign-up">No tienes una cuenta?<a href="/register"> Inicia sesión</a></p>
                    </form>
                </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</body>
<!-- SCRIPTS -->
<!-- plugins:js -->
<script src="{{ url_for('static', filename='plugin/js/vendor.bundle.base.js')}}"></script>
<!-- Plugin js for this page -->
<script src="{{ url_for('static', filename='plugin/chart.js/Chart.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugin/progressbar.js/progressbar.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugin/jvectormap/jquery-jvectormap.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugin/jvectormap/jquery-jvectormap-world-mill-en.js')}}"></script>
<script src="{{ url_for('static', filename='plugin/owl-carousel-2/owl.carousel.min.js')}}"></script>
<!-- inject:js -->
<script src="{{ url_for('static', filename='js/plantilla/off-canvas.js')}}"></script>
<script src="{{ url_for('static', filename='js/plantilla/hoverable-collapse.js')}}"></script>
<script src="{{ url_for('static', filename='js/plantilla/misc.js')}}"></script>
<script src="{{ url_for('static', filename='js/plantilla/settings.js')}}"></script>
<script src="{{ url_for('static', filename='js/plantilla/todolist.js')}}"></script>
<!-- Custom js for this page -->
<script src="{{ url_for('static', filename='js/plantilla/dashboard.js')}}"></script>

</html>